<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:togglz="https://github.com/heneke/thymeleaf-extras-togglz">
<head>
    <link rel="stylesheet" href="/webjars/Semantic-UI/semantic.min.css" />
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/Semantic-UI/semantic.min.js"></script>
</head>
<body>
    <div>&nbsp;</div>
    <div class="ui text container">
        <div class="ui icon massive compact message">
            <i class="thermometer half icon"></i>
            <div class="content">
                <h2 class="header" th:text="${meteo.temperature}">
                    5°C
                </h2>
                <p togglz:active="FEATURE_COMMENTAIRE" th:text="${meteo.commentaire}">Il fait froid &agrave; Paris.</p>
            </div>
        </div>
    </div>
</body>
</html>